@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: clashDisplay;
  src: url(ClashDisplay-Bold.otf);
}

@font-face {
  font-family: montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: UnicaOne;
  src: url(UnicaOne-Regular.ttf);
}
@font-face {
  font-family: typo_hoop;
  src: url(typo_hoop/Typo\ Hoop_Regular_Demo.otf);
}

@font-face {
  font-family: Voces-Regular;
  src: url(Voces-Regular.ttf);
}

@font-face {
  font-family: Volkhov-Regular;
  src: url(Volkhov-Regular.ttf);
}

.clashDisplay {
  font-family: clashDisplay;
}

.montserrat {
  font-family: montserrat;
}

.unicaOne {
  font-family: UnicaOne;
}

.typo_hoop {
  font-family: typo_hoop;
}
.voces {
  font-family: Voces-Regular;
}
.volkhov {
  font-family: Volkhov-Regular;
}
